/* Container and image title alignment */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    max-width: 95%;
}

/* Image and Title alignment */
.image-container {
    max-width: 100px; /* Küçültülmüş resim genişliği */
    margin-right: 15px; /* Görsel ile başlık arasındaki boşluk */
}

.user-image {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Title container */
.title-container {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

/* Tabloyu beyaz bir kutu içinde tutma ve düzenleme */
.table-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
    max-width: 100%; /* Bu tabloyu tam genişlikte gösterecek */
    text-align: center;
}

/* Tablo stili */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 14px; /* Font boyutunu biraz küçült */
}

table th {
    background-color: #f8f9fa;
    color: #333;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Hover efekti */
table tr:hover {
    background-color: #e0e0e0;
}
